
<body>
  <div class="container">
    <h1>Quotes</h1>
    <p>Welcome to the quote website where you can post a quote and also vote on other people's quotes!</p>
    <ul>


    <div *ngFor='let quote of quotes;let i = index'>


      <li appHighlight >{{quote.name}} (posted on {{quote.postDate|date}})</li>
      <button class="btn btn-primary btn-xs" (click)='toogleDetails(i)'>Toogle Details</button>
      <br>
     <app-quotes-details *ngIf="quote.showDescription" [quotes]='quote' (isComplete)= 'deleteQuotes($event,i)'></app-quotes-details>
     </div>
     <div class="row">
        <app-quote-form (addQuotes)="addNewQuotes($event)" ></app-quote-form>
    </div>
  </ul>

  </div>

</body>
